/* propiedades generales para cualquier boton */
.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1; /* propiedad que define cuanto se puede expander el componente en base a otros componentes que tien cerca
                  osea cada uno obtiene un tamaño igual */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;/* no permite seleccionar el texto que tiene el boton */
  }
  
  .boton-contenedor:hover {
    background-color: #5a01a7;
  }
  /* estilo solo si es un operador */
  .operador {
    background-color: #00471b;
  }
  
  .operador:hover {
    background-color: #ff6600;
  }